In [18]:
import os
import pandas as pd
import json

from mysql.connector import connect

In [13]:
filePath = os.getenv('CSV_FILE')
config = {
    'host': os.getenv('HOST'),
    'database': 'tds',
    'user': os.getenv('USER_'),
    'password': os.getenv('PASSWORD')
}

In [25]:
df = pd.read_csv(filePath, header=None)
df[1]= df[1].map(json.dumps)

df.head()

                     0                                                  1
0  2024-08-02 19:25:52  "{'error': 'Thao t\u00e1c qu\u00e1 nhanh vui l...
1  2024-08-02 19:26:37                         "{'cache': 1, 'data': []}"
2  2024-08-02 19:26:38  "{'error': 'Thao t\u00e1c qu\u00e1 nhanh vui l...
3  2024-08-02 19:29:48  "{'error': 'Thao t\u00e1c qu\u00e1 nhanh vui l...
4  2024-08-02 19:30:28  "{'cache': 1, 'data': [{'id': '739780165478077...

### insert records into db

In [26]:
query = """insert into apicallrecords values (%s, %s)"""
data = list(df.itertuples(index=False))

with connect(**config) as conn:
    if conn.is_connected():
        print(f'db {config['database']}: connected')

        with conn.cursor() as cur:
            # remove previous records to avoid repeated data
            cur.execute("delete from apicallrecords")

            cur.executemany(query, data)
            conn.commit()

            cur.execute('select count(1) from apicallrecords;')
            print(cur.fetchone())

            cur.execute('select * from apicallrecords limit 5;')
            print(cur.fetchall())
    else:
        print('unable to connect, please check...')

db tds: connected
(914,)
[(datetime.datetime(2024, 8, 2, 19, 25, 52), '"{\'error\': \'Thao tác quá nhanh vui lòng chậm lại\', \'countdown\': 44}"'), (datetime.datetime(2024, 8, 2, 19, 26, 37), '"{\'cache\': 1, \'data\': []}"'), (datetime.datetime(2024, 8, 2, 19, 26, 38), '"{\'error\': \'Thao tác quá nhanh vui lòng chậm lại\', \'countdown\': 224}"'), (datetime.datetime(2024, 8, 2, 19, 29, 48), '"{\'error\': \'Thao tác quá nhanh vui lòng chậm lại\', \'countdown\': 40}"'), (datetime.datetime(2024, 8, 2, 19, 30, 28), '"{\'cache\': 1, \'data\': [{\'id\': \'7397801654780775688_SQZ0PE7942E5ZZPE1QT5\', \'link\': \'https://www.tiktok.com/@dangtumlum20/video/7397801654780775688\', \'type\': \'like\'}]}"')]

### analysis with mysql

In [27]:
%load_ext sql

In [30]:
%sql mysql+pymysql://{config['user']}:{config['password']}@{config['host']}/{config['database']}

In [32]:
%sql show tables;

 * mysql+pymysql://github:***@localhost/tds
1 rows affected.

[('apicallrecords',)]