In [3]:
import os
from dotenv import load_dotenv; load_dotenv()

True

In [4]:
USER_ = os.getenv('USER_')
PASSWORD = os.getenv('PASSWORD')
HOST = os.getenv('HOST')

In [2]:
%load_ext sql

In [5]:
%sql mysql+pymysql://{USER_}:{PASSWORD}@{HOST}/PersonalBanking

In [8]:
%%sql
select * from transactions_2023_cleaned limit 10;

 * mysql+pymysql://tina:***@localhost/PersonalBanking
10 rows affected.

[(datetime.date(2023, 9, 29), 'ACCOUNT SERVICING FEE', Decimal('5.00')),
 (datetime.date(2023, 10, 2), 'ANZ INTERNET BANKING PAYMENT', Decimal('560.00')),
 (datetime.date(2023, 10, 9), 'ANZ INTERNET BANKING PAYMENT', Decimal('560.00')),
 (datetime.date(2023, 10, 10), 'ANZ INTERNET BANKING BPAY', Decimal('100.00')),
 (datetime.date(2023, 10, 11), 'VISA DEBIT PURCHASE CARD', Decimal('29.99')),
 (datetime.date(2023, 10, 11), 'VISA DEBIT PURCHASE CARD', Decimal('74.99')),
 (datetime.date(2023, 10, 13), 'ANZ M-BANKING FUNDS TFER', Decimal('4.00')),
 (datetime.date(2023, 10, 16), 'PAYMENT', Decimal('77.25')),
 (datetime.date(2023, 10, 16), 'ANZ M-BANKING FUNDS TFER', Decimal('500.00')),
 (datetime.date(2023, 10, 16), 'ANZ INTERNET BANKING PAYMENT', Decimal('560.00'))]